h2 ~ * {
    background-color: #eefeff;
}
h2 {
    background-color: #aaeeee;
}

h2:hover {
    background-color: #66ccee;
}

ul {
    display: flex;
    padding: 2px 4px;
    flex-wrap: wrap;
    justify-content: center;
}

li {
    list-style-type: none;
    padding: 5px 10px;
    cursor: default;
    margin: 4px;
    transition: all 0.13s ease;
    border: 1px solid #54b7dd;
    border-radius: 5px;
}

li:hover {
    background: #d4efff;
    transform: scale(1.01, 1.07);
    box-shadow: 1px 1px 4px black;
}

#outline-container-h-Skills ul {
    display: revert;
}

#outline-container-h-Skills li {
    border: 0;
    margin: 0;
    box-shadow: none;
    border-bottom: 1px solid #54b7dd;
    border-radius: 0;
}

#outline-container-h-Skills li:hover {
    transform: scale(1.02, 1.12);
}

#outline-container-h-Skills li:last-child {
    border: 0;
}

#h-Photo {
    display: none;
}

#text-h-Photo img {
    border-radius: 50%;
    max-width: 250px;
    transition: all 0.6s ease;
    filter: grayscale(100%);
}

#text-h-Photo img:hover {
    transform: scale(1.2);
    border-radius: 8%;
    filter: revert;
}

#outline-container-h-Photo {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #eefeff;
    opacity: 0.88;
}

#outline-container-h-Photo:hover {
    opacity: 1;
}

#outline-container-h-Compro-Prasad {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#outline-container-h-Reach-at h4 {
    display: none;
}

#h-Compro-Prasad {
    text-align: center;
    font-size: 2em;
    margin: 0 0 30px 0;
}

#outline-container-h-Reach-at ul {
    max-width: 400px;
}

#outline-container-h-Reach-at li {
    padding: 0;
}

#outline-container-h-Reach-at a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    width: calc(100% - 16px);
}

#outline-container-h-Reach-at li:nth-child(1) a {
    color: #00468d;
}

#outline-container-h-Reach-at li:nth-child(2) a {
    color: #0d1117;
}

#outline-container-h-Reach-at li:nth-child(3) a {
    color: #af2800;
}

#outline-container-h-Reach-at li a img {
    width: 25px;
    margin-right: 7px;
}
