.collapsed:after {
  content: " ⋯";
  color: gray;
}

footer {
  border-top: 1px solid #cdcdcd;
  padding-top: 30px;
  margin-top: 50px;
}

.only-border-top {
  border: 0;
  border-top: 1px solid #e4e4e4;
}

pre.example:before {
  content: "Output";
  font-size: 0.9em;
  font-family: sans;
  text-align: right;
  display: block;
  color: #555;
}

blockquote {
  background: #eaf0ff;
  margin: 15px 25px;
  padding: 1px 30px;
  font-size: 1.05em;
}

.title {
  margin-bottom: revert;
}

.highlight-heading {
  color: red;
  background-color: yellow;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  padding: 0;
  max-width: 800px;
  font-family: sans;
  line-height: 1.5;
  margin-bottom: 100px;
  min-height: 85vh;
  font-size: 1.05em;
}

h2 ~ * {
  padding: 8px;
  transition: max-height 0.3s ease-out;
  max-height: 100000px;
}

.outline-2 {
  margin: 10px 0;
}

h2 {
  padding: 10px;
  margin: 0;
  cursor: default;
  display: flex;
  align-items: center;
  border-radius: 10px 10px 0 0;
}

.clicked {
  background-color: #449cff !important;
}

h2 button {
  border: none;
  background-color: inherit;
  text-decoration: none;
  color: blue;
  margin: 0 5px;
  border-radius: 4px;
}

h2 button:hover {
  background-color: blue;
  color: white;
  transform: scale(1.2);
}

h2 button:focus {
  background: #bbb;
  color: black;
  transform: scale(0.9);
}

h2 > span.copied {
  display: inline-block;
  font-size: small;
  color: white;
  background-color: gray;
  border-radius: 4px;
  padding: 2px 4px;
  opacity: 0;
  margin: 0 3px;
  visibility: hidden;
  transition: all 1.2s ease;
  height: 100%;
}

p {
  text-align: justify;
  font-size: 1.14em;
  word-spacing: 3px;
}

.org-keyword,
.org-builtin {
  color: #009d9d;
}

.org-function-name {
  color: #0013f2;
}

.org-variable-name {
  color: #0c68c9;
}

.org-string,
.org-constant {
  color: green;
}

.org-type {
  color: #810081;
}

pre.src {
  color: #222;
}

.org-comment,
.org-comment-delimiter {
  font-style: italic;
  color: #956900;
}
