a {
    text-decoration: none;
    transition: all 0.2s ease;
    padding: 5px;
}
a:hover {
    text-decoration: underline !important;
}
li:not(:last-child) {
   margin-bottom: 8px;
}
body {
    padding: 0 10px;
}
