.reveal {
  font-family: "Ubuntu";
}
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  text-transform: inherit;
  font-family: "Comfortaa";
  color: #cde;
}
.reveal h1 {
  font-size: 1.6em;
}
.reveal h2 {
  font-size: 1.4em;
}
.reveal code {
  color: #278bd2;
}
.reveal pre {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  background-color: #2b2b2b;
  line-height: 1.2em;
  font-size: 0.8em;
}
.reveal p {
  text-align: left;
  margin-left: 55px;
  color: #89a;
}
.reveal li {
  color: #68a;
}
.reveal i {
  color: #6a6;
}
.reveal b {
  color: #a66;
}
.text-center {
  text-align: center;
}
